<div class="content pl-10 max-w-5xl w-max">
  <p class="text-4xl font-bold">Aviso de Privacidad</p>
  <br />
  <p class="subtitle font-bold">
    1. Responsable del Tratamiento de sus Datos Personales:
  </p>
  <p class="pt-2">
    Cuidador, con domicilio en León Guanajuato México, es responsable del
    tratamiento de sus datos personales.
  </p>
  <p class="subtitle font-bold pt-2">2. Datos Personales Recabados:</p>
  <p>
    Para la prestación de nuestros servicios y la evaluación de candidatos para
    formar parte de nuestra plataforma de cuidadores dedicada al cuidado de
    adultos mayores, recabaremos los siguientes datos personales:
  </p>
  <ul class="list-disc pl-20 pt-2">
    <li class="font-bold">Datos de Identificación:</li>
    <p>
      Nombre completo, dirección, teléfono, correo electrónico, fecha de
      nacimiento, género etc.
    </p>
    <li class="font-bold">Datos Laborales:</li>
    <p>
      Historial laboral, referencias laborales, certificaciones y
      capacitaciones.
    </p>
    <li class="font-bold">Datos Sociológicos:</li>
    <p>
      Información recopilada a través de exámenes sociológicos, incluyendo
      hábitos, intereses y valores.
    </p>
    <li class="font-bold">Datos de Capacidad:</li>
    <p>
      Resultados de exámenes de capacidad y competencias, pruebas psicométricas
      y evaluaciones de habilidades específicas.
    </p>
    <li class="font-bold">Datos Académicos:</li>
    <p>Nivel educativo, instituciones educativas, títulos obtenidos.</p>
  </ul>
  <p class="subtitle font-bold pt-2">
    3. Finalidades del Tratamiento de Datos:
  </p>
  <p class="pt-2">
    Los datos personales recabados serán utilizados para las siguientes
    finalidades:
  </p>
  <ul class="list-disc pl-20 pt-2">
    <li class="font-bold">Primarias:</li>
    <ul class="list-disc pl-20 pt-2">
      <li>
        Evaluar y seleccionar candidatos para formar parte de nuestra plataforma
        de cuidadores.
      </li>
      <li>
        Verificar la autenticidad y veracidad de la información proporcionada.
      </li>
      <li>
        Realizar pruebas de capacidades y exámenes sociológicos para asegurar la
        idoneidad de los candidatos.
      </li>
      <li>
        Gestionar el proceso de contratación y formación continua de cuidadores.
      </li>
    </ul>
    <li class="font-bold">Secundarias:</li>
    <ul class="list-disc pl-20 pt-2">
      <li>
        Crear perfiles y estadísticas internas para mejorar nuestros procesos de
        selección y capacitación.
      </li>
      <li>
        Enviar comunicaciones y notificaciones relacionadas con oportunidades de
        empleo y actualizaciones de nuestra plataforma.
      </li>
    </ul>
  </ul>
  <p class="subtitle font-bold pt-2">4. Transferencia de Datos Personales:</p>
  <p>
    Sus datos personales podrán ser transferidos y tratados dentro y fuera del
    país por personas distintas a esta empresa. En ese sentido, su información
    puede ser compartida con:
  </p>
  <ul class="list-disc pl-20 pt-2">
    <li>Proveedores de servicios de evaluación y capacitación.</li>
    <li>Autoridades competentes en los casos legalmente previstos.</li>
  </ul>
  <p class="subtitle font-bold pt-2">5. Medidas de Seguridad:</p>
  <p class="pt-2">
    Hemos implementado medidas de seguridad administrativas, técnicas y físicas
    para proteger sus datos personales contra daño, pérdida, alteración,
    destrucción o el uso, acceso o tratamiento no autorizado.
  </p>
  <p class="subtitle font-bold pt-2">6. Derechos ARCO:</p>
  <p class="pt-2">
    Usted tiene el derecho de acceder, rectificar, cancelar u oponerse al
    tratamiento de sus datos personales (Derechos ARCO). Para ejercer estos
    derechos, puede ponerse en contacto con nuestro Departamento de Datos
    Personales en [correo electrónico de contacto] o en [dirección de la
    empresa].
  </p>
  <p class="subtitle font-bold pt-2">7. Cambios al Aviso de Privacidad:</p>
  <p class="pt-2">
    Nos reservamos el derecho de efectuar en cualquier momento modificaciones o
    actualizaciones al presente aviso de privacidad, para la atención de
    novedades legislativas o políticas internas. Estas modificaciones estarán
    disponibles a través de [método de notificación, por ejemplo, nuestra página
    web].
  </p>
  <p class="subtitle font-bold pt-2">8. Consentimiento:</p>
  <p class="pt-2">
    Al proporcionar sus datos personales, usted acepta que ha leído y
    comprendido el presente Aviso de Privacidad y otorga su consentimiento para
    el tratamiento de sus datos personales conforme a lo aquí establecido.
  </p>
  <p class="subtitle font-bold pt-2">Contacto:</p>
  <p class="pt-2">
    Para cualquier duda o comentario respecto al presente Aviso de Privacidad,
    puede ponerse en contacto con nosotros a través de:
  </p>
  <ul class="list-disc pl-20 pt-2">
    <li>Teléfono: +52 477 118 9966</li>
    <li>Correo electrónico: cuidadorMx&#64;gmail.com</li>
  </ul>

  <p class="pt-2">
    Fecha de última actualización: Domingo 30 de Junio del 2024
  </p>
  <div class="flex items-center pt-10 pb-10">
    <input
      (click)="checkBox($event)"
      id="checkbox"
      type="checkbox"
      class="form-checkbox h-10 w-10 text-blue-600"
    />
    <label for="checkbox" class="ml-2 text-gray-700"
      >Acepto los términos y condiciones.</label
    >
    <div class="ml-20 pt-2">
      <button
        (click)="gotoRequariments()"
        id="nexStep"
        type="button"
        class="buttonDisabled w-96 ml-20 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 cursor-not-allowed"
        disabled
      >
        Siguiente
      </button>
    </div>
  </div>
</div>
