<div class="content w-screen pl-10">
  <!-- Sección: Encabezado del Formulario -->
  <p class="text-4xl font-bold">Formulario de registro</p>
  <br />
  <p class="subtitle font-bold">Información Personal</p>
  <br />

  <form class="max-w-sm">
    <!-- Sección: Información Personal -->
    <div class="w-screen max-w-5xl grid grid-cols-3 gap-4">
      <div class="mb-2">
        <label
          for="nombreFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Nombre(s)</label
        >
        <input
          type="text"
          name="nombreFam"
          id="nombreFam"
          [(ngModel)]="nombreFam"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          required
        />
      </div>
      <div class="mb-2">
        <label
          for="apPaternoFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Apellido Paterno</label
        >
        <input
          type="text"
          id="apPaternoFam"
          name="apellido_paternoFam"
          [(ngModel)]="apellido_paternoFam"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          required
        />
      </div>
      <div class="mb-2">
        <label
          for="apMaternoFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Apellido Materno</label
        >
        <input
          type="text"
          id="apMaternoFam"
          name="apellido_maternoFam"
          [(ngModel)]="apellido_maternoFam"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          required
        />
      </div>
      <div class="mb-2">
        <label
          for="correoElectronicoFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Correo Electrónico</label
        >
        <input
          type="email"
          id="correoElectronicoFam"
          name="correo_electronicoFam"
          [(ngModel)]="correo_electronicoFam"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="name@cuidador.com"
          required
        />
      </div>
      <div class="mb-2">
        <label
          for="fechaNacFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Fecha Nacimiento</label
        >
        <input
          type="date"
          id="fechaNacFam"
          name="fecha_nacimientoFam"
          [(ngModel)]="fecha_nacimientoFam"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          required
        />
      </div>
      <div class="mb-2">
        <label
          for="generoFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Género</label
        >
        <select
          id="generoFam"
          name="generoFam"
          [(ngModel)]="generoFam"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        >
          <option value="Hombre">Hombre</option>
          <option value="Mujer">Mujer</option>
          <option value="Otro">Otro</option>
        </select>
      </div>

      <div class="mb-2">
        <label
          for="estadoCivilFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Estado Civil</label
        >
        <select
          id="estadoCivilFam"
          name="estado_civilFam"
          [(ngModel)]="estado_civilFam"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        >
          <option value="Soltero/a">Soltero/a</option>
          <option value="Casado/a">Casado/a</option>
          <option value="Unión libre">Unión libre</option>
          <option value="Separado/a">Separado/a</option>
          <option value="Divorciado/a">Divorciado/a</option>
          <option value="Viudo/a">Viudo/a</option>
        </select>
      </div>
      <div class="mb-2">
        <label for="rfcFam" class="block mb-2 text-sm font-medium text-gray-900"
          >RFC</label
        >
        <input
          type="text"
          id="rfcFam"
          name="rfcFam"
          [(ngModel)]="rfcFam"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          required
        />
      </div>
      <div class="mb-2">
        <label
          for="curpFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >CURP</label
        >
        <input
          type="text"
          id="curpFam"
          name="curpFam"
          [(ngModel)]="curpFam"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          required
        />
      </div>
      <div class="mb-2">
        <label
          for="telParticularFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Teléfono particular</label
        >
        <input
          type="text"
          id="telParticularFam"
          name="telefono_particularFam"
          [(ngModel)]="telefono_particularFam"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          required
        />
      </div>
      <div class="mb-2">
        <label
          for="telMovilFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Teléfono móvil</label
        >
        <input
          type="text"
          id="telMovilFam"
          name="telefono_movilFam"
          [(ngModel)]="telefono_movilFam"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          required
        />
      </div>
      <div class="mb-2">
        <label
          for="telEmergenciaFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Teléfono de emergencia</label
        >
        <input
          type="text"
          id="telEmergenciaFam"
          name="telefono_emergenciaFam"
          [(ngModel)]="telefono_emergenciaFam"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          required
        />
      </div>
    </div>

    <!-- Sección: Fotografía e Identificación -->
    <div class="w-screen max-w-5xl grid grid-cols-2 gap-4">
      <div class="mb-2">
        <div class="flex">
          <label
            class="block mb-2 text-sm font-medium text-gray-900"
            for="file_inputFam"
            >Fotografía reciente</label
          >
          <app-ball-info
            class="pl-2"
            [textInfo]="textInfoFotoFam"
          ></app-ball-info>
        </div>
        <app-file-upload
          [tipoDocumento]="'Información Personal'"
          [nombreDoc]="'Fotografía reciente'"
        ></app-file-upload>
      </div>
      <div class="mb-2">
        <div class="flex">
          <label
            class="block mb-2 text-sm font-medium text-gray-900"
            for="file_inputFam"
            >Fotografía de identificación oficial</label
          >
          <app-ball-info class="pl-2" [textInfo]="textINEFam"></app-ball-info>
        </div>
        <app-file-upload
          [tipoDocumento]="'Información Personal'"
          [nombreDoc]="'Fotografía de identificación oficial'"
        ></app-file-upload>
      </div>
    </div>

    <br />
    <p class="subtitle font-bold">Información de Residencia</p>
    <br />

    <!-- Sección: Información de Residencia -->
    <div class="w-screen max-w-5xl grid grid-cols-3 gap-4">
      <div class="mb-2">
        <label
          for="paisFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >País</label
        >
        <select
          id="paisFam"
          name="paisFam"
          [(ngModel)]="paisFam"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        >
          <option value="México">México</option>
          <option value="Otro">Otro</option>
        </select>
      </div>
      <div class="mb-2">
        <label
          for="estadoFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Estado</label
        >
        <select
          id="estadoFam"
          name="estadoFam"
          [(ngModel)]="estadoFam"
          (change)="onEstadoChangeFam($event)"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        >
          @for (estadoFam of estados; track $index) {
          <option [value]="estadoFam">{{ estadoFam }}</option>
          }
        </select>
      </div>
      <div class="mb-2">
        <label
          for="municipioFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Municipio</label
        >
        <select
          id="municipioFam"
          name="municipioFam"
          [(ngModel)]="municipioFam"
          [disabled]="municipios.length === 0"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        >
          @for (municipioFam of municipios; track $index) {
          <option [value]="municipioFam">{{ municipioFam }}</option>
          }
        </select>
      </div>
      <div class="mb-2">
        <label
          for="coloniaFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Colonia</label
        >
        <input
          id="coloniaFam"
          name="coloniaFam"
          [(ngModel)]="coloniaFam"
          type="text"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          required
        />
      </div>
      <div class="mb-2">
        <label
          for="calleFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Calle</label
        >
        <input
          id="calleFam"
          name="calleFam"
          [(ngModel)]="calleFam"
          type="text"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          required
        />
      </div>
      <div class="mb-2">
        <label
          for="numInteriorFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Número interior</label
        >
        <input
          id="numInteriorFam"
          name="numInteriorFam"
          [(ngModel)]="numInteriorFam"
          type="text"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          required
        />
      </div>
    </div>
    <div class="w-screen max-w-5xl grid grid-cols-2 gap-4">
      <div class="mb-2">
        <label
          for="numExteriorFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Número Exterior</label
        >
        <input
          id="numExteriorFam"
          type="text"
          name="numExteriorFam"
          [(ngModel)]="numExteriorFam"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          required
        />
      </div>
      <div class="mb-2">
        <label
          for="referenciasFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Referencias</label
        >
        <input
          id="referenciasFam"
          type="text"
          name="referenciasFam"
          [(ngModel)]="referenciasFam"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Ej. Casa verde de dos pisos con ventanales negros."
          required
        />
      </div>
    </div>
    <div class="w-screen max-w-5xl grid grid-cols-1 gap-4">
      <div class="mb-2">
        <div class="flex">
          <label
            class="block mb-2 text-sm font-medium text-gray-900"
            for="file_comporobanteFam"
            >Comprobante de domicilio</label
          >
          <app-ball-info
            class="pl-2"
            [textInfo]="txtCeAntecedentesFam"
          ></app-ball-info>
        </div>
        <app-file-upload
          [tipoDocumento]="'Información de Residencia'"
          [nombreDoc]="'Comprobante de domicilio'"
        ></app-file-upload>
      </div>
    </div>

    <br />
    <p class="subtitle font-bold">Verificaciones Legales</p>
    <br />

    <!-- Sección: Verificaciones Legales -->
    <div class="w-screen max-w-5xl grid grid-cols-2 gap-4">
      <div class="mb-2">
        <div class="flex">
          <label
            class="block mb-2 text-sm font-medium text-gray-900"
            for="file_cerAntecedentesFam"
            >Certificado de Antecedentes Penales</label
          >
          <app-ball-info
            class="pl-2"
            [textInfo]="txtCeAntecedentesFam"
          ></app-ball-info>
        </div>
        <app-file-upload
          [tipoDocumento]="'Verificaciones Legales'"
          [nombreDoc]="'Certificado de Antecedentes Penales'"
        ></app-file-upload>
      </div>
      <div class="mb-2">
        <div class="flex">
          <label
            class="block mb-2 text-sm font-medium text-gray-900"
            for="file_VeriAntecedentesFam"
            >Autorización para Verificación de Antecedentes</label
          >
          <app-ball-info
            class="pl-2"
            [textInfo]="txtVerAntecedentesFam"
          ></app-ball-info>
        </div>
        <app-file-upload
          [tipoDocumento]="'Verificaciones Legales'"
          [nombreDoc]="'Autorización para Verificación de Antecedentes'"
        ></app-file-upload>
      </div>
    </div>

    <br />
    <p class="subtitle font-bold">Información de Contacto</p>
    <br />

    <!-- Sección: Información de Contacto -->
    <div class="w-screen max-w-5xl grid grid-cols-2 gap-4">
      <div class="mb-2">
        <div class="flex">
          <label
            class="block mb-2 text-sm font-medium text-gray-900"
            for="file_refProfesionalFam"
            >Referencias Profesionales</label
          >
          <app-ball-info
            class="pl-2"
            [textInfo]="referenciasProfesionalesFam"
          ></app-ball-info>
        </div>
        <app-file-upload
          [tipoDocumento]="'refProfesionalesFam'"
          [nombreDoc]="'Referencias Profesionales'"
        ></app-file-upload>
      </div>
      <div class="mb-2">
        <div class="flex">
          <label
            class="block mb-2 text-sm font-medium text-gray-900"
            for="file_refPersonalesFam"
            >Referencias Personales</label
          >
          <app-ball-info
            class="pl-2"
            [textInfo]="referenciasPersonalesFam"
          ></app-ball-info>
        </div>
        <app-file-upload
          [tipoDocumento]="'refPersonalesFam'"
          [nombreDoc]="'Referencias Personales'"
        ></app-file-upload>
      </div>
    </div>

    <br />
    <p class="subtitle font-bold">Información Médica y de Salud</p>
    <br />

    <!-- Sección: Información Médica y de Salud -->
    <div class="w-screen max-w-5xl grid grid-cols-3 gap-4">
      <div class="mb-2">
        <label
          for="tipo-sanguineoFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Tipo sanguíneo</label
        >
        <select
          id="tipo-sanguineoFam"
          name="tipo-sanguineoFam"
          [(ngModel)]="tipoSanguineoFam"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        >
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
        </select>
      </div>
      <div class="mb-2">
        <label
          for="nameMedicoFamiliarFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Nombre del médico familiar</label
        >
        <input
          id="nameMedicoFamiliarFam"
          type="text"
          name="nameMedicoFamiliarFam"
          [(ngModel)]="nombreMedicoFamFam"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          required
        />
      </div>
      <div class="mb-2">
        <label
          for="numMedicoFamiliarFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Número telefónico del médico familiar</label
        >
        <input
          id="numMedicoFamiliarFam"
          type="text"
          name="numMedicoFamiliarFam"
          [(ngModel)]="numMedicoFamFam"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          required
        />
      </div>
    </div>
    <div class="w-screen max-w-5xl grid grid-cols-2 gap-4">
      <div class="mb-2">
        <div class="flex">
          <label
            class="block mb-2 text-sm font-medium text-gray-900"
            for="file_certMedicoFam"
            >Certificado Médico de Buena Salud</label
          >
          <app-ball-info
            class="pl-2"
            [textInfo]="datosCertificadoMedicoFam"
          ></app-ball-info>
        </div>
        <app-file-upload
          [tipoDocumento]="'Información Médica y de Salud'"
          [nombreDoc]="'Certificado Médico de Buena Salud'"
        ></app-file-upload>
      </div>
      <div class="mb-2">
        <div class="flex">
          <label
            class="block mb-2 text-sm font-medium text-gray-900"
            for="file_pruebasDrogasFam"
            >Pruebas de Drogas y Alcohol</label
          >
          <app-ball-info
            class="pl-2"
            [textInfo]="datosPruebasDrogasAlcoholFam"
          ></app-ball-info>
        </div>
        <app-file-upload
          [tipoDocumento]="'Información Médica y de Salud'"
          [nombreDoc]="'Pruebas de Drogas y Alcohol'"
        ></app-file-upload>
      </div>
    </div>
    <div class="w-screen max-w-5xl grid grid-cols-1 gap-4">
      <div class="mb-2">
        <div
          class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow"
          style="background-color: #fafafa"
        >
          <label
            for="alergiaFam"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Alergias</label
          >
          <div class="flex">
            <input
              id="alergiaFam"
              [(ngModel)]="alergia"
              name="alergiaFam"
              type="text"
              class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              required
            />
            <button
              (click)="agregarAlergiaFam()"
              type="button"
              style="background-color: #6096ba"
              class="w-48 mt-3 ml-5 text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5"
            >
              Agregar Alergia
            </button>
          </div>
          <ul class="my-4 space-y-3">
            @for (alergiaFam of alergias; track $index) {
            <span
              id="badge-dismiss-default"
              class="inline-flex items-center px-2 py-1 text-sm font-medium text-blue-800 rounded"
            >
              {{ alergiaFam }}
              <button
                (click)="eliminarAlergia($index)"
                type="button"
                class="inline-flex items-center p-1 ms-2 text-sm text-blue-900 bg-transparent rounded-sm hover:bg-blue-200 hover:text-blue-900"
                data-dismiss-target="#badge-dismiss-default"
                aria-label="Remove"
              >
                <svg
                  class="w-2 h-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 14"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                  />
                </svg>
                <span class="sr-only">Remove badge</span>
              </button>
            </span>
            }
          </ul>
        </div>
      </div>
    </div>
    <br />
    <div class="w-screen max-w-5xl grid grid-cols-1 gap-4">
      <div class="mb-2">
        <div
          class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow"
          style="background-color: #fafafa"
        >
          <p>Padecimientos</p>
          <br />
          <div class="flex w-screen max-w-5xl grid grid-cols-2 gap-4">
            <div>
              <label
                for="namePadecimientoFam"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Nombre del padecimiento:</label
              >
              <input
                id="namePadecimientoFam"
                name="padecimientoFam"
                [(ngModel)]="nombrePadecimientoFam"
                type="text"
                class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="Ej.: Diabetes."
                required
              />
              <label
                for="descPadecimientoFam"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Descripción del padecimiento:</label
              >
              <textarea
                id="descPadecimientoFam"
                name="descPadecimientoFam"
                [(ngModel)]="descPadecimientoFam"
                type="text"
                class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="Ej.: Sufro de diabetes tipo 2, una condición crónica que afecta la forma en que mi cuerpo metaboliza la glucosa."
                required
              ></textarea>
              <label
                for="fechaPadecimientoFam"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Padece desde:</label
              >
              <input
                id="fechaPadecimientoFam"
                name="fechaPadecimientoFam"
                [(ngModel)]="fechaPadecimientoFam"
                type="date"
                class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                required
              />
              <button
                (click)="agregarPadecimiento()"
                type="button"
                style="background-color: #6096ba"
                class="w-full mt-3 text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5"
              >
                Agregar Padecimiento
              </button>
            </div>
            <div class="padecimientosFam rounded-lg">
              @for (padFam of objPadecimientos; track $index) {
              <span
                id="badge-dismiss-default"
                class="w-full block mt-3 items-center px-2 py-1 text-sm font-medium text-blue-800 rounded"
              >
                <div class="flex justify-between items-center">
                  <div>{{ padFam.nombre }}</div>

                  <button
                    (click)="eliminarPadecimiento($index)"
                    type="button"
                    class="inline-flex items-center p-1 text-sm text-blue-900 bg-transparent rounded-sm hover:bg-blue-200 hover:text-blue-900"
                    data-dismiss-target="#badge-dismiss-default"
                    aria-label="Remove"
                  >
                    <svg
                      class="w-2 h-2"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 14 14"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                      />
                    </svg>
                    <span class="sr-only">Remove badge</span>
                  </button>
                </div>
              </span>
              }
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-screen max-w-5xl grid grid-cols-1 gap-4">
      <div class="mb-2">
        <label
          for="observacionesFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Observaciones</label
        >
        <textarea
          id="observacionesFam"
          type="text"
          [(ngModel)]="observacionesFam"
          name="observacionesFam"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder=""
          required
        ></textarea>
      </div>
    </div>

    <br />
    <p class="subtitle font-bold">Configuración de usuario</p>
    <br />

    <!-- Sección: Configuración de usuario -->
    <div class="w-screen max-w-5xl grid grid-cols-2 gap-4">
      <div class="mb-2">
        <label
          for="nameUsuarioFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Usuario</label
        >
        <input
          id="nameUsuarioFam"
          name="nameUsuarioFam"
          [(ngModel)]="usuarioFam"
          type="text"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder=""
          required
        />
      </div>
      <div class="mb-2">
        <label
          for="contraseniaFam"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Contraseña</label
        >
        <input
          id="contraseniaFam"
          name="contraseniaFam"
          [(ngModel)]="contraseniaFam"
          type="password"
          class="inputColor bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="* * * * * * *"
          required
        />
      </div>
    </div>
    <div class="w-screen max-w-5xl grid grid-cols-1 gap-4">
      <div class="flex pt-10 w-full">
        <button
          (click)="registrarFamiliar()"
          type="button"
          class="buttonConfirm w-full focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >
          Registrar
        </button>
      </div>
    </div>
    <br />
  </form>
</div>
