<div class="absolute w-1/2 ml-10">
  <h1
    style="text-align: center"
    class="mb-4 text-2xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-4xl"
  >
    Colaboraciones Estratégicas para el Cuidado
  </h1>
  <h4>
    Establecemos alianzas con empresas líderes en el sector para ofrecer
    servicios complementarios y mejorar la calidad de vida de nuestros usuarios.
  </h4>
  <div
    style="background-color: #6096ba"
    class="rounded-full mt-5 mb-5 transition-colors duration-200 gap-x-2 w-64"
  >
    <h3 class="text-center text-white font-semibold">
      Servicios de Colaboración
    </h3>
  </div>
  <ul
    class="ps-5 mt-2 space-y-1 list-disc list-inside text-left text-slate-500 dark:text-slate-500"
  >
    <li>Descuentos y promociones en productos y servicios.</li>
    <li>Programas de formación y capacitación para cuidadores.</li>
    <li>Eventos y actividades comunitarias.</li>
  </ul>
  <div
    style="background-color: #6096ba"
    class="rounded-full mt-5 mb-5 transition-colors duration-200 gap-x-2 w-48"
  >
    <h3 class="text-center text-white font-semibold">Empresas socias</h3>
  </div>
  <ul
    class="ps-5 mt-2 space-y-1 list-disc list-inside text-left text-slate-500 dark:text-slate-500"
  >
    <li>Proveedores de equipos médicos.</li>
    <li>Centros de salud y clínicas.</li>
    <li>Organizaciones de apoyo a cuidadores.</li>
  </ul>

  <div
    style="background-color: #6096ba"
    class="ml-8 rounded-full mt-5 mb-5 transition-colors duration-200 gap-x-2 w-48"
  >
    <h3 class="text-center text-white font-semibold">Beneficios</h3>
  </div>
  <ul
    class="ps-5 mt-2 ml-9 space-y-1 list-disc list-inside text-left text-slate-500 dark:text-slate-500"
  >
    <li>Acceso a una red de servicios de calidad.</li>
    <li>Innovación y mejoras continuas en el cuidado.</li>
    <li>Fortalecimiento de la comunidad de cuidado.</li>
  </ul>
</div>

<img
  style="margin-left: 450px"
  src="/assets/colaboradoores.png"
  class="h-full w-3/5 object-cover"
  alt="Adulto Mayor"
/>
