<div class="absolute w-1/2 ml-10">
  <h1
    style="text-align: center"
    class="mb-4 text-2xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-4xl"
  >
    Profesionales Dedicados al Cuidado
  </h1>
  <h4>
    Contamos con cuidadores profesionales y capacitados para brindar la mejor
    atención y compañía a los adultos mayores.
  </h4>
  <div
    style="background-color: #6096ba"
    class="rounded-full mt-5 mb-5 transition-colors duration-200 gap-x-2 w-48"
  >
    <h3 class="text-center text-white font-semibold">Perfil Cuidador</h3>
  </div>
  <ul
    class="ps-5 mt-2 space-y-1 list-disc list-inside text-left text-slate-500 dark:text-slate-500"
  >
    <li>Formación en cuidados geriátricos.</li>
    <li>Experiencia comprobada en el cuidado de adultos mayores.</li>
    <li>Certificaciones y capacitaciones continuas.</li>
  </ul>
  <div
    style="background-color: #6096ba"
    class="ml-6 rounded-full mt-5 mb-5 transition-colors duration-200 gap-x-2 w-48"
  >
    <h3 class="text-center text-white font-semibold">Servicios</h3>
  </div>
  <ul
    class="ps-5 mt-2 ml-7 space-y-1 list-disc list-inside text-left text-slate-500 dark:text-slate-500"
  >
    <li>Atención personalizada las 24 horas.</li>
    <li>Asistencia en actividades diarias.</li>
    <li>Monitoreo de la salud y bienestar.</li>
  </ul>
  <div
    style="background-color: #6096ba"
    class="ml-8 rounded-full mt-5 mb-5 transition-colors duration-200 gap-x-2 w-48"
  >
    <h3 class="text-center text-white font-semibold">Beneficios</h3>
  </div>
  <ul
    class="ps-5 mt-2 ml-9 space-y-1 list-disc list-inside text-left text-slate-500 dark:text-slate-500"
  >
    <li>Tranquilidad para las familias.</li>
    <li>Atención integral y de calidad.</li>
    <li>Comunicación constante con familiares.</li>
  </ul>
</div>

<img
  style="margin-left: 450px"
  src="/assets/cuidadores.png"
  class="h-full w-3/5 object-cover"
  alt="Adulto Mayor"
/>
