<div class="content pl-10 max-w-5xl w-max">
  <p class="text-4xl font-bold">Requisitos</p>
  <p class="pt-2">
    Para el registro de los cuidadores se requerirán los siguientes datos:
  </p>
  <div class="grid gap-4 grid-cols-2 pt-3">
    <div>
      <p class="subtitle font-bold">Información Personal</p>
      <ul class="list-disc pl-5 pt-2">
        <li>Identificación Oficial (DNI, pasaporte, licencia de conducir)</li>
        <li>Currículum Vitae</li>
        <li>Fotografía Reciente</li>
        <li>Fecha de Nacimiento</li>
        <li>Estado Civil</li>
        <li>Dirección de Residencia</li>
      </ul>
    </div>
    <div>
      <p class="subtitle font-bold">Información de Contacto</p>
      <ul class="list-disc pl-5 pt-2">
        <li>Contactos de Referencias Profesionales</li>
        <li>Contactos de Referencias Personales</li>
        <li>Teléfono de Contacto</li>
        <li>Correo Electrónico</li>
        <li>Información de Contacto de Emergencia</li>
      </ul>
    </div>
    <div>
      <p class="subtitle font-bold">Información Profesional</p>
      <ul class="list-disc pl-5 pt-2">
        <li>
          Certificaciones y Licencias (certificados de cursos de cuidado,
          licencias de enfermería, etc.)
        </li>
        <li>
          Historial Laboral (experiencia previa en cuidado de adultos mayores)
        </li>
        <li>Educación y Títulos Académicos</li>
        <li>Evaluaciones de Desempeño en trabajos anteriores</li>
        <li>Participación en seminarios, talleres y congresos relevantes</li>
      </ul>
    </div>
    <div>
      <p class="subtitle font-bold">Información Médica y de Salud</p>
      <ul class="list-disc pl-5 pt-2">
        <li>Certificado Médico de Buena Salud</li>
        <li>Pruebas de Drogas y Alcohol</li>
        <li>Vacunas y Certificados de Inmunización</li>
        <li>Declaración de Alergias y Condiciones Médicas</li>
      </ul>
    </div>
    <div>
      <p class="subtitle font-bold">Verificaciones Legales</p>
      <ul class="list-disc pl-5 pt-2">
        <li>Certificado de Antecedentes Penales</li>
        <li>Autorización para Verificación de Antecedentes</li>
        <li>Registro en Listas de Proveedores de Servicios Autorizados</li>
        <li>Cumplimiento con Regulaciones y Normativas Locales y Nacionales</li>
      </ul>
    </div>
    <div>
      <p class="subtitle font-bold">Información Adicional</p>
      <ul class="list-disc pl-5 pt-2">
        <li>
          Capacitación en Primeros Auxilios y Reanimación Cardiopulmonar (RCP)
        </li>
        <li>Disponibilidad Horaria</li>
        <li>Idiomas Hablados</li>
        <li>
          Habilidades Adicionales (como cocina, manejo de dispositivos médicos,
          etc.)
        </li>
        <li>Preferencias de Trabajo (horarios, tipos de cuidado, etc.)</li>
      </ul>
      <div class="flex pt-10 pl-10">
        <button
          type="button"
          (click)="emitStepComplete()"
          class="buttonConfirm w-96 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2"
        >
          Siguiente
        </button>
      </div>
    </div>
  </div>
</div>
