.container-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px; /* Ajusta según tu diseño */
  padding: 16px;
  margin: auto;
}

.mat-form-field {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}
