<div *ngIf="isLoading">
  <app-spinner-not-shadow></app-spinner-not-shadow>
</div>

<div *ngIf="!isLoading">
  <div class="bg-white rounded-lg shadow-lg p-6">
    <!-- Encabezado con el Datepicker para seleccionar una nueva fecha -->
    <div class="flex justify-start mb-6">
      <div class="mr-4">
        <p class="text-xl font-semibold text-gray-700">
          {{ selectedDate | date : "MMMM d, yyyy" }}
        </p>
      </div>
      <div>
        <input
          type="date"
          [(ngModel)]="selectedDate"
          (change)="onDateChange()"
          class="border rounded-lg p-2 w-40"
        />
      </div>
    </div>

    <!-- Semana actual con navegación -->
    <div
      class="flex items-center justify-between border rounded-lg p-4 bg-gray-50"
    >
      <button
        (click)="prevWeek()"
        class="p-2 text-gray-400 hover:text-gray-600"
      >
        &lt;
      </button>

      <div class="grid grid-cols-7 gap-4 text-center w-full">
        <div
          *ngFor="let day of weekDates"
          (click)="selectDate(day)"
          [class.bg-blue-100]="isSelectedDate(day)"
          [class.text-blue-600]="isSelectedDate(day)"
          class="cursor-pointer p-2 rounded-lg hover:bg-blue-50 transition-colors"
        >
          <div class="text-xs text-gray-500">{{ day | date : "EEE" }}</div>
          <div class="text-sm font-medium">{{ day | date : "d" }}</div>
        </div>
      </div>

      <button
        (click)="nextWeek()"
        class="p-2 text-gray-400 hover:text-gray-600"
      >
        &gt;
      </button>
    </div>
  </div>

  <div *ngIf="contratos.length === 0"></div>
  <div
    class="flex items-center p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300"
    role="alert"
  >
    <svg
      class="flex-shrink-0 inline w-4 h-4 me-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
      />
    </svg>
    <span class="sr-only">Info</span>
    <div>
      <span class="font-medium">Importante</span> Aun no tienes contratos para
      esta semana.
    </div>
  </div>
  <div
    *ngFor="let contrato of contratos"
    class="mt-5 border rounded-lg p-4 mx-auto"
  >
    <!-- Time and Event Title -->
    <div class="flex mb-2 justify-between" style="justify-content: normal">
      <div class="flex">
        <span class="w-1 h-12 bg-blue-500 rounded-full mr-3"></span>
        <div>
          <p class="text-gray-900 font-semibold">
            {{ formatFecha(contrato.horarioInicio) }}
            <span
              class="w-1 bg-blue-500 rounded-full mx-3"
              style="color: #3b82f6"
              >-----</span
            >
            {{ formatFecha(contrato.horarioFin) }}
          </p>

          <p class="text-gray-500">Número de folio: {{ generateFolio() }}</p>
        </div>
      </div>
      <button
        (click)="openModal(contrato)"
        class="bg-gray-100 ml-auto text-gray-600 font-medium py-1 px-4 rounded-md border border-gray-300 hover:bg-gray-200"
      >
        Ver Detalle
      </button>
    </div>
    <hr />

    <!-- Files Attached -->
    <div class="flex text-gray-500 mb-4 mt-3">
      <span
        class="bg-green-100 ml-auto text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"
        >${{ formatSaldo(contrato.importeCuidado) }}</span
      >
    </div>
    <hr />

    <!-- Attendees -->
    <div class="mt-3">
      <p class="text-gray-500 mb-2">
        Servicio de cuidado a {{ contrato.personaCliente.nombre }}
      </p>
      <div class="flex -space-x-2">
        <img
          src="{{ contrato.personaCliente.avatarImage }}"
          class="w-14 h-14 rounded-full border-2 border-white"
          alt="Attendee 2"
        />

        <div
          class="w-14 h-14 rounded-full border-2 border-white bg-gray-300 flex items-center justify-center text-sm text-gray-600"
        >
          <img
            src="/assets/isotipo.jpg"
            class="rounded-full border-2 border-white"
            alt="Attendee 3"
          />
        </div>
        <img
          src="{{ contrato.personaCuidador.avatarImage }}"
          class="w-14 h-14 rounded-full border-2 border-white"
          alt="Attendee 3"
        />
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  *ngIf="isModalOpen"
  class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75 z-50"
>
  <div class="bg-white rounded-lg shadow-lg w-11/12 md:w-1/2 lg:w-1/3 p-6">
    <div class="flex justify-between items-center mb-4">
      <p class="text-2xl font-semibold text-gray-800">Detalles del Contrato</p>
      <button (click)="closeModal()" class="text-gray-500 hover:text-gray-700">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
    <div class="mb-4 space-y-4">
      <!-- Aquí puedes mostrar los detalles del contrato -->
      <div class="flex items-center space-x-4">
        <img
          [src]="selectedContrato?.personaCuidador?.avatarImage"
          alt="Avatar Cuidador"
          class="w-16 h-16 rounded-full"
        />
        <div>
          <p class="text-lg font-medium text-gray-700">
            {{ selectedContrato?.personaCuidador?.nombre }}
            {{ selectedContrato?.personaCuidador?.apellidoPaterno }}
            {{ selectedContrato?.personaCuidador?.apellidoMaterno }}
          </p>
          <p class="text-sm text-gray-500">
            {{ selectedContrato?.personaCuidador?.correoElectronico }}
          </p>
        </div>
      </div>
      <div class="flex items-center space-x-4">
        <img
          [src]="selectedContrato?.personaCliente?.avatarImage"
          alt="Avatar Cliente"
          class="w-16 h-16 rounded-full"
        />
        <div>
          <p class="text-lg font-medium text-gray-700">
            {{ selectedContrato?.personaCliente?.nombre }}
            {{ selectedContrato?.personaCliente?.apellidoPaterno }}
            {{ selectedContrato?.personaCliente?.apellidoMaterno }}
          </p>
          <p class="text-sm text-gray-500">
            {{ selectedContrato?.personaCliente?.correoElectronico }}
          </p>
        </div>
      </div>
      <div class="border-t border-gray-200 pt-4">
        <p class="text-lg font-medium text-gray-700">
          <strong>Importe Cuidado:</strong> ${{
            selectedContrato?.importeCuidado
          }}
        </p>
        <p class="text-lg font-medium text-gray-700">
          <strong>Horario Inicio:</strong> {{ selectedContrato?.horarioInicio }}
        </p>
        <p class="text-lg font-medium text-gray-700">
          <strong>Horario Fin:</strong> {{ selectedContrato?.horarioFin }}
        </p>
      </div>
    </div>
    <div class="flex justify-end mt-4">
      <button
        (click)="closeModal()"
        class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700"
      >
        Cerrar
      </button>
    </div>
  </div>
</div>
