<div *ngIf="isLoading">
  <app-spinner-not-shadow></app-spinner-not-shadow>
</div>

<div *ngIf="!isLoading">
  <!-- Información Basica -->
  <div
    class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <ul
      class="hidden text-sm font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-lg sm:flex dark:divide-gray-600 dark:text-gray-400 rtl:divide-x-reverse"
      id="fullWidthTab"
      role="tablist"
    >
      <li class="w-full">
        <button
          (click)="setActiveTab('stats')"
          [ngClass]="{ 'bg-gray-100 dark:bg-gray-700': activeTab === 'stats' }"
          type="button"
          role="tab"
          aria-selected="activeTab === 'stats'"
          class="inline-block w-full p-4 rounded-ss-lg hover:bg-gray-100 focus:outline-none"
        >
          Credito Acumulado
        </button>
      </li>
      <li class="w-full">
        <button
          (click)="setActiveTab('about')"
          [ngClass]="{ 'bg-gray-100 dark:bg-gray-700': activeTab === 'about' }"
          type="button"
          role="tab"
          aria-selected="activeTab === 'about'"
          class="inline-block w-full p-4 hover:bg-gray-100 focus:outline-none"
        >
          Saldo Total Retirado
        </button>
      </li>
      <li class="w-full">
        <button
          (click)="setActiveTab('faq')"
          [ngClass]="{ 'bg-gray-100 dark:bg-gray-700': activeTab === 'faq' }"
          type="button"
          role="tab"
          aria-selected="activeTab === 'faq'"
          class="inline-block w-full p-4 rounded-se-lg hover:bg-gray-100 focus:outline-none"
        >
          Transacciones Recientes
        </button>
      </li>
    </ul>

    <div
      class="border-t border-gray-200 dark:border-gray-600"
      id="fullWidthTabContent"
    >
      <!-- ------------------- Contenido de Credito Acumulado ------------------ -->
      <div
        *ngIf="activeTab === 'stats'"
        class="p-4 bg-white rounded-lg dark:bg-gray-800"
      >
        <!--Aviso cuando la cuenta esta en ceros o es nueva-->
        <div *ngIf="formatSaldo(saldoActual) === '0.00'">
          <app-warning-alert
            message="Lo sentimos, por el momento no tienes saldo disponible"
          ></app-warning-alert>

          <div class="flex flex-col items-center justify-center mt-20 mb-20">
            <dt class="mb-2 text-6xl font-extrabold">
              ${{ formatSaldo(saldoActual) }}
            </dt>
            <dd class="text-gray-500 dark:text-gray-400">Disponibles</dd>
          </div>
          <ul role="list" class="space-y-4 text-gray-500 dark:text-gray-400">
            <li class="flex items-center space-x-2 rtl:space-x-reverse">
              <svg
                class="w-3.5 h-3.5 text-red-600 dark:text-red-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                />
              </svg>
              <span
                >Para comenzar a acumular saldo a tu cuenta debes de comenzar a
                realizar servicios de cuidado</span
              >
            </li>
            <!-- Más elementos de la lista -->
          </ul>
        </div>
        <!--Aviso cuando la cuenta esta en uso y con credito-->

        <div *ngIf="formatSaldo(saldoActual) !== '0.00'">
          <div class="flex flex-col items-center justify-center mt-20 mb-20">
            <dt class="mb-2 text-6xl font-extrabold text-cyan-700">
              ${{ formatSaldo(saldoActual) }}
            </dt>
            <dd class="text-gray-500 dark:text-gray-400">Disponibles</dd>
          </div>
          <div class="flex justify-between items-center">
            <!-- Lista de elementos a la izquierda -->
            <ul role="list" class="space-y-4 text-gray-500 dark:text-gray-400">
              <li class="flex items-center space-x-2 rtl:space-x-reverse">
                <svg
                  class="w-3.5 h-3.5 text-blue-600 dark:text-blue-500"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414l1.293 1.293 3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                  />
                </svg>
                <span
                  >Este es tu saldo total disponible, realiza retiros a tu
                  cuenta bancaria</span
                >
              </li>
            </ul>

            <!-- Botón a la derecha -->
            <button
              (click)="openModalRetiro()"
              type="button"
              class="px-3 py-2 text-xs font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              <svg
                class="w-6 h-6 mr-2 text-withe-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m16 10 3-3m0 0-3-3m3 3H5v3m3 4-3 3m0 0 3 3m-3-3h14v-3"
                />
              </svg>
              Realizar Retiro
            </button>
          </div>
        </div>
      </div>

      <!-- ----------------- Contenido de saldo total retirado---------------- -->
      <div
        *ngIf="activeTab === 'about'"
        class="p-4 bg-white rounded-lg dark:bg-gray-800"
      >
        <!--Aviso cuando la cuenta esta en ceros o es nueva-->
        <div *ngIf="formatSaldo(saldoTotal) === '0.00'">
          <app-warning-alert
            message="Por ahora no has retirado saldo a tu cuenta bancaria"
          ></app-warning-alert>
          <div class="flex flex-col items-center justify-center mt-20 mb-20">
            <p
              class="mb-5 text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white"
            >
              Saldo Total Retirado
            </p>
            <dt class="mb-2 text-6xl font-extrabold text-black-800">
              ${{ formatSaldo(saldoTotal) }}
            </dt>
            <dd class="text-gray-500 dark:text-gray-400">Retirados</dd>
          </div>
        </div>
        <!--Aviso cuando la cuenta esta en uso y con credito-->
        <div *ngIf="formatSaldo(saldoTotal) !== '0.00'">
          <div class="flex flex-col items-center justify-center mt-20 mb-20">
            <p
              class="mb-5 text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white"
            >
              Saldo Total Retirado
            </p>
            <dt class="mb-2 text-6xl font-extrabold text-red-800">
              ${{ formatSaldo(saldoTotal) }}
            </dt>
            <dd class="text-gray-500 dark:text-gray-400">Retirados</dd>
          </div>
          <ul role="list" class="space-y-4 text-gray-500 dark:text-gray-400">
            <li class="flex items-center space-x-2 rtl:space-x-reverse">
              <svg
                class="w-3.5 h-3.5 text-blue-600 dark:text-blue-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                />
              </svg>
              <span
                >Este es el saldo total que has retirado desde que has comenzado
                a realizar servicios de cuidador</span
              >
            </li>
            <!-- Más elementos de la lista -->
          </ul>
        </div>
      </div>

      <!-- ---------------------- Contenido Ultimas Transacciones ------------------- -->
      <div
        *ngIf="activeTab === 'faq'"
        class="p-4 bg-white rounded-lg dark:bg-gray-800"
      >
        <app-table-reporting
          [data]="recentTransactions"
          [cuentaBancaria]="cuentaBancaria"
        ></app-table-reporting>
      </div>
    </div>
  </div>

  <!-- Información de tarjeta de credito -->

  <div class="mt-5 mx-auto bg-white shadow-lg rounded-lg p-6">
    <p class="text-xl font-semibold mb-2">Métodos de pago</p>
    <p class="text-gray-500 mb-6">
      Agrega y administra tus métodos de pago utilizando nuestro sistema de pago
      seguro.
    </p>

    <div
      *ngIf="
        cuentaBancaria.numeroCuenta === 0 ||
        cuentaBancaria.clabeInterbancaria === 0
      "
    >
      <app-warning-alert
        message="Por ahora no cuentas con una tarjeta de crédito o débito registrada, por favor añade una para recibir tus pagos"
      ></app-warning-alert>
      <div class="flex justify-between items-center mt-6">
        <button class="text-blue-500 font-medium">Administrar Tarjetas</button>
        <button
          class="text-blue-500 font-medium flex items-center"
          (click)="openModal()"
        >
          <span class="mr-2">+</span> Añadir nueva tarjeta
        </button>
      </div>
    </div>
    <div
      *ngIf="
        cuentaBancaria.numeroCuenta !== 0 &&
        cuentaBancaria.clabeInterbancaria !== 0
      "
    >
      <div class="space-y-4">
        <div
          class="flex justify-between items-center border border-gray-200 p-4 rounded-lg"
        >
          <div class="flex items-center">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/4/41/Visa_Logo.png"
              alt="Visa"
              class="w-10 h-auto mr-4"
            />
            <div>
              <p class="font-medium">
                Visa •••• {{ cuentaBancaria.clabeInterbancaria }}
              </p>
              <p class="text-gray-500 text-sm">Debit Expires 12/25</p>
            </div>
          </div>
          <div class="flex items-center space-x-2">
            <button
              class="bg-gray-200 text-gray-600 text-sm font-medium px-3 py-1 rounded-lg"
            >
              Default
            </button>
            <button
              (click)="openModalEdit()"
              class="bg-gray-200 text-gray-600 text-sm font-medium px-3 py-1 rounded-lg"
            >
              Edit
            </button>
          </div>
        </div>
        <button class="text-blue-500 font-medium">Administrar Tarjeta</button>
      </div>
    </div>

    <!-- 
    <div class="space-y-4">
       ##Visa Card## 
      <div
        class="flex justify-between items-center border border-gray-200 p-4 rounded-lg"
      >
        <div class="flex items-center">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/4/41/Visa_Logo.png"
            alt="Visa"
            class="w-10 h-auto mr-4"
          />
          <div>
            <p class="font-medium">Visa •••• 9016</p>
            <p class="text-gray-500 text-sm">Debit Expires 12/25</p>
          </div>
        </div>
        <div class="flex items-center space-x-2">
          <button
            class="bg-gray-200 text-gray-600 text-sm font-medium px-3 py-1 rounded-lg"
          >
            Default
          </button>
          <button
            class="bg-gray-200 text-gray-600 text-sm font-medium px-3 py-1 rounded-lg"
          >
            Edit
          </button>
        </div>
      </div>

       ##MasterCard##
      <div
        class="flex justify-between items-center border border-gray-200 p-4 rounded-lg"
      >
        <div class="flex items-center">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/b/b7/MasterCard_Logo.svg"
            alt="MasterCard"
            class="w-10 h-auto mr-4"
          />
          <div>
            <p class="font-medium">MasterCard •••• 4242</p>
            <p class="text-gray-500 text-sm">Debit Expires 04/24</p>
          </div>
        </div>
        <div class="flex items-center space-x-2">
          <button
            class="bg-gray-200 text-gray-600 text-sm font-medium px-3 py-1 rounded-lg"
          >
            Set as default
          </button>
          <button
            class="bg-gray-200 text-gray-600 text-sm font-medium px-3 py-1 rounded-lg"
          >
            Edit
          </button>
        </div>
      </div>
    </div>
 -->
  </div>

  <!--Modal Add Tarjeta-->
  <div
    *ngIf="isModalOpen"
    class="fixed top-0 left-0 w-full h-full bg-gray-900 bg-opacity-50 flex items-center justify-center z-50"
  >
    <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6 space-y-4">
      <!-- Header -->
      <div class="flex items-center justify-between">
        <p class="text-xl font-semibold">Añadir detalles de la tarjeta</p>
        <button
          (click)="closeModal()"
          class="text-gray-500 hover:text-gray-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <!-- Card Details -->
      <div class="space-y-2">
        <label class="block text-sm font-medium text-gray-700"
          >Datos de la tarjeta</label
        >
        <input
          type="text"
          placeholder="Nombre del titular"
          class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500"
        />
        <input
          type="text"
          placeholder="Número de tarjeta"
          class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500"
        />
        <div class="flex space-x-2">
          <input
            type="text"
            placeholder="Vencimiento"
            class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500"
          />
          <input
            type="text"
            placeholder="CVV"
            class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500"
          />
        </div>
        <p class="text-xs text-gray-500">Este es un formulario seguro</p>
      </div>

      <!-- Default Payment Method Checkbox -->
      <div class="flex items-center space-x-2">
        <input
          type="checkbox"
          id="default"
          class="text-blue-600 focus:ring-blue-500 border-gray-300 rounded"
        />
        <label for="default" class="text-sm text-gray-700"
          >Establecer como método de pago predeterminado</label
        >
      </div>

      <!-- Actions -->
      <div class="flex justify-end space-x-2">
        <button
          (click)="closeModal()"
          class="px-4 py-2 text-gray-700 border border-gray-300 rounded-md hover:bg-gray-100"
        >
          Cancelar
        </button>
        <button
          class="px-4 py-2 text-white bg-blue-600 rounded-md hover:bg-blue-700"
        >
          Agregar tarjeta
        </button>
      </div>
    </div>
  </div>

  <!--Modal Edit Target-->
  <div
    *ngIf="isEditModalOpen"
    class="fixed top-0 left-0 w-full h-full bg-gray-900 bg-opacity-50 flex items-center justify-center z-50"
  >
    <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6 space-y-4">
      <!-- Header -->
      <div class="flex items-center justify-between">
        <p class="text-xl font-semibold">Detalle de la tarjeta</p>
        <button
          (click)="closeModalEdit()"
          class="text-gray-500 hover:text-gray-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <!-- Card Details -->
      <div class="space-y-2">
        <label class="block text-sm font-medium text-gray-700"
          >Datos de la tarjeta</label
        >
        <input
          type="text"
          placeholder="Nombre del titular"
          class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500"
        />
        <input
          value="{{ cuentaBancaria.clabeInterbancaria }}"
          type="text"
          placeholder="Número de tarjeta"
          class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500"
        />
        <div class="flex space-x-2">
          <input
            type="text"
            placeholder="Vencimiento"
            class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500"
          />
          <input
            type="text"
            placeholder="CVV"
            class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500"
          />
        </div>
        <p class="text-xs text-gray-500">Este es un formulario seguro</p>
      </div>

      <!-- Actions -->
      <div class="flex justify-end space-x-2">
        <button
          (click)="closeModalEdit()"
          class="px-4 py-2 text-gray-700 border border-gray-300 rounded-md hover:bg-gray-100"
        >
          Cancelar
        </button>
        <button
          class="px-4 py-2 text-white bg-blue-600 rounded-md hover:bg-blue-700"
        >
          Guardar cambios
        </button>
      </div>
    </div>
  </div>

  <!--Modal Retiro Dinero-->
  <div
    *ngIf="isRetiroModalOpen"
    class="fixed top-0 left-0 w-full h-full bg-gray-900 bg-opacity-50 flex items-center justify-center z-50"
  >
    <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6 space-y-4">
      <!-- Header -->
      <div class="flex items-center justify-between">
        <p class="text-xl font-semibold">Retiro saldo a cuenta</p>
        <button
          (click)="closeModalRetiro()"
          class="text-gray-500 hover:text-gray-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <!-- Card Details -->
      <div class="space-y-2">
        <label class="block text-sm font-medium text-gray-700"
          >Detalle del retiro</label
        >
        <input
          type="text"
          placeholder="Concepto del retiro"
          class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500"
        />
        <input
          type="number"
          placeholder="Monto a retirar"
          class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-500"
        />
        <div class="flex space-x-2">
          <p class="text-xs text-gray-500">Este es un formulario seguro</p>
        </div>

        <!-- Actions -->
        <div class="flex justify-end space-x-2">
          <button
            (click)="closeModalRetiro()"
            class="px-4 py-2 text-gray-700 border border-gray-300 rounded-md hover:bg-gray-100"
          >
            Cancelar
          </button>
          <button
            class="px-4 py-2 text-white bg-blue-600 rounded-md hover:bg-blue-700"
          >
            Realizar Retiro
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
