<div class="curved-container">
  <svg
    class="curved-shape"
    id="visual"
    viewBox="0 0 900 600"
    width="900"
    height="600"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
  >
    <path
      d="M261 0L244.7 25C228.3 50 195.7 100 206.3 150C217 200 271 250 277.2 300C283.3 350 241.7 400 254.7 450C267.7 500 335.3 550 369.2 575L403 600L0 600L0 575C0 550 0 500 0 450C0 400 0 350 0 300C0 250 0 200 0 150C0 100 0 50 0 25L0 0Z"
      fill="#6096BA"
      stroke-linecap="round"
      stroke-linejoin="miter"
    ></path>
  </svg>
  <div>
    <h1 class="text">
      Conoce cómo puedes <br />
      pertenecer a nuestra <br />comunidad.
    </h1>
  </div>
  <div class="space-y-4 relative menu">
    <div class="w-24 text-white pl-5 textContainerOne">Inicio</div>
    <div class="w-32 text-white pl-5 textContainerTwo">Adulto Mayor</div>
    <div class="w-24 text-white pl-5 textContainerTwo">Cuidador</div>
    <svg
      (click)="contadorUp()"
      style="
        width: 30px;
        height: 30px;
        left: 146px;
        top: 31px;
        position: absolute;
      "
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="size-6"
    >
      <path
        fill-rule="evenodd"
        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm.53 5.47a.75.75 0 0 0-1.06 0l-3 3a.75.75 0 1 0 1.06 1.06l1.72-1.72v5.69a.75.75 0 0 0 1.5 0v-5.69l1.72 1.72a.75.75 0 1 0 1.06-1.06l-3-3Z"
        clip-rule="evenodd"
      />
    </svg>

    <svg
      (click)="contadorDown()"
      style="
        width: 30px;
        height: 30px;
        left: 146px;
        top: 74px;
        position: absolute;
      "
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="size-6"
    >
      <path
        fill-rule="evenodd"
        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-.53 14.03a.75.75 0 0 0 1.06 0l3-3a.75.75 0 1 0-1.06-1.06l-1.72 1.72V8.25a.75.75 0 0 0-1.5 0v5.69l-1.72-1.72a.75.75 0 0 0-1.06 1.06l3 3Z"
        clip-rule="evenodd"
      />
    </svg>

    <div class="w-24 text-white pl-5 textContainerTwo">Colaborador</div>
  </div>
</div>
