.curved-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.curved-shape {
  position: absolute;
  top: 0;
  width: 82%;
  height: 100%;
  padding-left: 0;
  margin-left: 0px;
}
.text {
  position: relative;
  z-index: 1;
  display: flex;
  color: white;
  padding: 20px;
  height: 100%;

  font-size: 25px;
}

.containerUpload {
  width: 100%;
  height: 100%;
  position: relative;
}

.textContainerOne {
  font-family: "Anek Malayalam", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: large;
  font-size: 25px;
  color: #395886;
}

.textContainerTwo {
  font-family: "Anek Malayalam", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: large;
}

.menu {
  align-content: center;
  justify-content: center;
  margin-top: 10%;
}

.colorButton {
  background-color: white;
}
