<div class="absolute w-1/2 ml-10">
  <h1
    style="text-align: center"
    class="mb-4 text-2xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-4xl"
  >
    Atención Personalizada para el Adulto Mayor
  </h1>
  <h4>
    Ofrecemos servicios personalizados de cuidado para adultos mayores,
    garantizando su bienestar y comodidad en el hogar.
  </h4>

  <div
    style="background-color: #6096ba"
    class="rounded-full mt-5 mb-5 transition-colors duration-200 gap-x-2 w-48"
  >
    <h3 class="text-center text-white font-semibold">Servicios</h3>
  </div>
  <ul
    class="ps-5 mt-2 space-y-1 list-disc list-inside text-left text-slate-500 dark:text-slate-500"
  >
    <li>Asistencia en actividades diarias (baño, vestimenta, alimentación).</li>
    <li>Acompañamiento emocional y social.</li>
    <li>Gestión de medicamentos y citas médicas.</li>
    <li>Programas de rehabilitación y ejercicios.</li>
  </ul>
  <div
    style="background-color: #6096ba"
    class="rounded-full mt-5 mb-5 transition-colors duration-200 gap-x-2 w-48"
  >
    <h3 class="text-center text-white font-semibold">Beneficios</h3>
  </div>
  <ul
    class="ps-5 mt-2 space-y-1 list-disc list-inside text-left text-slate-500 dark:text-slate-500"
  >
    <li>Atención especializada y adaptada a cada necesidad.</li>
    <li>Mejora en la calidad de vida y bienestar general.</li>
    <li>Reducción del estrés para familiares.</li>
  </ul>
  <section class="ml-96 mt-24">
    <div style="justify-content: center" class="wave-container cursor-pointer">
      <div class="wave"></div>
      <div class="wave"></div>
      <div
        class="moreInformation text-white relative inline-flex text-center items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
      >
        <span
          class="relative px-5 py-2.5 transition-all ease-in duration-75 dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
        >
          Mas Información
        </span>
      </div>

      <div class="wave"></div>
      <div class="wave"></div>
    </div>
  </section>
</div>
<img
  src="/assets/adultoMayor.png"
  class="ml-72 h-full object-cover"
  alt="Adulto Mayor"
/>
