<div class="p-4 sm:ml-56">
  <div class="p-4 rounded-lg dark:border-gray-700 mt-14">
    <div class="grid grid-cols-4 gap-4 mb-4">
      <div
        class="userGradient flex items-center h-48 border-slate-100 border-2 bg-white dark:bg-white rounded-lg"
      >
        <div class="flex flex-col">
          <div class="p-3">
            <div
              class="border-slate-100 border-2 rounded-lg bg-white dark:bg-white max-w-11 p-2"
            >
              <svg
                style="color: #0097b2"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z"
                />
              </svg>
            </div>
          </div>
          <div class="pl-3">
            <p class="self-center text-m sm:text-m whitespace-nowrap">
              Usuarios Totales
            </p>
          </div>
          <div class="p-3">
            <div class="flex">
              <p
                class="self-center text-2xl font-semibold sm:text-3xl whitespace-nowrap"
              >
                500
              </p>

              <div class="flex -space-x-4 rtl:space-x-reverse pl-20">
                <img
                  class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-200"
                  src="/assets/avatar1.JPG"
                  alt=""
                />
                <img
                  class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-200"
                  src="/assets/avatar2.JPG"
                  alt=""
                />
                <img
                  class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-200"
                  src="/assets/avatar3.jpg"
                  alt=""
                />
                <img
                  class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-200"
                  src="/assets/avatar2.JPG"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="userActives flex items-center h-48 border-slate-100 border-2 bg-white dark:bg-white rounded-lg"
      >
        <div class="flex flex-col">
          <div class="p-3">
            <div
              class="border-slate-100 border-2 rounded-lg bg-white dark:bg-white max-w-11 p-2"
            >
              <svg
                style="color: #00b25c"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z"
                />
              </svg>
            </div>
          </div>
          <div class="pl-3">
            <p class="self-center text-m sm:text-m whitespace-nowrap">
              Usuarios Activos
            </p>
          </div>
          <div class="p-3">
            <div class="flex">
              <p
                class="self-center text-2xl font-semibold sm:text-3xl whitespace-nowrap"
              >
                200
              </p>

              <div class="flex -space-x-4 rtl:space-x-reverse pl-20">
                <img
                  class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-200"
                  src="/assets/avatar1.JPG"
                  alt=""
                />
                <img
                  class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-200"
                  src="/assets/avatar2.JPG"
                  alt=""
                />
                <img
                  class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-200"
                  src="/assets/avatar3.jpg"
                  alt=""
                />
                <img
                  class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-200"
                  src="/assets/avatar2.JPG"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="userReturn flex items-center h-48 border-slate-100 border-2 bg-white dark:bg-white rounded-lg"
      >
        <div class="flex flex-col">
          <div class="p-3">
            <div
              class="border-slate-100 border-2 rounded-lg bg-white dark:bg-white max-w-11 p-2"
            >
              <svg
                style="color: #a3c9eb"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M8.25 9.75h4.875a2.625 2.625 0 0 1 0 5.25H12M8.25 9.75 10.5 7.5M8.25 9.75 10.5 12m9-7.243V21.75l-3.75-1.5-3.75 1.5-3.75-1.5-3.75 1.5V4.757c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0c1.1.128 1.907 1.077 1.907 2.185Z"
                />
              </svg>
            </div>
          </div>
          <div class="pl-3">
            <p class="self-center text-m sm:text-m whitespace-nowrap">
              Usuarios Retornados
            </p>
          </div>
          <div class="p-3">
            <div class="flex">
              <p
                class="self-center text-2xl font-semibold sm:text-3xl whitespace-nowrap"
              >
                120
              </p>

              <div class="flex -space-x-4 rtl:space-x-reverse pl-20">
                <img
                  class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-200"
                  src="/assets/avatar1.JPG"
                  alt=""
                />
                <img
                  class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-200"
                  src="/assets/avatar2.JPG"
                  alt=""
                />
                <img
                  class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-200"
                  src="/assets/avatar3.jpg"
                  alt=""
                />
                <img
                  class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-200"
                  src="/assets/avatar2.JPG"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="userCanceled flex items-center h-48 border-slate-100 border-2 bg-white dark:bg-white rounded-lg"
      >
        <div class="flex flex-col">
          <div class="p-3">
            <div
              class="border-slate-100 border-2 rounded-lg bg-white dark:bg-white max-w-11 p-2"
            >
              <svg
                style="color: #f40000"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"
                />
              </svg>
            </div>
          </div>
          <div class="pl-3">
            <p class="self-center text-m sm:text-m whitespace-nowrap">
              Usuarios Rechazados
            </p>
          </div>
          <div class="p-3">
            <div class="flex">
              <p
                class="self-center text-2xl font-semibold sm:text-3xl whitespace-nowrap"
              >
                50
              </p>

              <div class="flex -space-x-4 rtl:space-x-reverse pl-20">
                <img
                  class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-200"
                  src="/assets/avatar1.JPG"
                  alt=""
                />
                <img
                  class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-200"
                  src="/assets/avatar2.JPG"
                  alt=""
                />
                <img
                  class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-200"
                  src="/assets/avatar3.jpg"
                  alt=""
                />
                <img
                  class="w-10 h-10 border-2 border-white rounded-full dark:border-gray-200"
                  src="/assets/avatar2.JPG"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex items-center w-full h-full mb-4 rounded bg-gray-50 dark:bg-gray-800"
    >
      <div class="max-w-6xl w-full bg-white rounded-lg shadow dark:bg-gray-800">
        <div class="flex justify-between p-4 md:p-6 pb-0 md:pb-0">
          <div>
            <h5
              class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2"
            >
              $12,423
            </h5>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">
              Sales this week
            </p>
          </div>
          <div
            class="flex items-center px-2.5 py-0.5 text-base font-semibold text-green-500 dark:text-green-500 text-center"
          >
            23%
            <svg
              class="w-3 h-3 ms-1"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13V1m0 0L1 5m4-4 4 4"
              />
            </svg>
          </div>
        </div>
        <div id="labels-chart" class="px-2.5"></div>
        <div
          class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between mt-5 p-4 md:p-6 pt-0 md:pt-0"
        >
          <div class="flex justify-between items-center pt-5">
            <!-- Button -->
            <button
              id="dropdownDefaultButton"
              data-dropdown-toggle="lastDaysdropdown"
              data-dropdown-placement="bottom"
              class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
              type="button"
            >
              Last 7 days
              <svg
                class="w-2.5 m-2.5 ms-1.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"
                />
              </svg>
            </button>
            <!-- Dropdown menu -->
            <div
              id="lastDaysdropdown"
              class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
            >
              <ul
                class="py-2 text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="dropdownDefaultButton"
              >
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Yesterday</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Today</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Last 7 days</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Last 30 days</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Last 90 days</a
                  >
                </li>
              </ul>
            </div>
            <a
              href="#"
              class="uppercase text-sm font-semibold inline-flex items-center rounded-lg text-blue-600 hover:text-blue-700 dark:hover:text-blue-500 hover:bg-gray-100 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 px-3 py-2"
            >
              Sales Report
              <svg
                class="w-2.5 h-2.5 ms-1.5 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 9 4-4-4-4"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4 mb-4">
      <div class="flex items-center rounded bg-gray-50 h-full dark:bg-gray-800">
        <div
          class="max-w-1xl w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6"
        >
          <div
            class="flex justify-between border-gray-200 border-b dark:border-gray-700 pb-3"
          >
            <dl>
              <dt
                class="text-base font-normal text-gray-500 dark:text-gray-400 pb-1"
              >
                Profit
              </dt>
              <dd
                class="leading-none text-3xl font-bold text-gray-900 dark:text-white"
              >
                $5,405
              </dd>
            </dl>
            <div>
              <span
                class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-md dark:bg-green-900 dark:text-green-300"
              >
                <svg
                  class="w-2.5 h-2.5 me-1.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 10 14"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13V1m0 0L1 5m4-4 4 4"
                  />
                </svg>
                Profit rate 23.5%
              </span>
            </div>
          </div>

          <div class="grid grid-cols-2 py-3">
            <dl>
              <dt
                class="text-base font-normal text-gray-500 dark:text-gray-400 pb-1"
              >
                Income
              </dt>
              <dd
                class="leading-none text-xl font-bold text-green-500 dark:text-green-400"
              >
                $23,635
              </dd>
            </dl>
            <dl>
              <dt
                class="text-base font-normal text-gray-500 dark:text-gray-400 pb-1"
              >
                Expense
              </dt>
              <dd
                class="leading-none text-xl font-bold text-red-600 dark:text-red-500"
              >
                -$18,230
              </dd>
            </dl>
          </div>

          <div id="bar-chart"></div>
          <div
            class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between"
          >
            <div class="flex justify-between items-center pt-5">
              <!-- Button -->
              <button
                id="dropdownDefaultButton"
                data-dropdown-toggle="lastDaysdropdown"
                data-dropdown-placement="bottom"
                class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
                type="button"
              >
                Last 6 months
                <svg
                  class="w-2.5 m-2.5 ms-1.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 10 6"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 4 4 4-4"
                  />
                </svg>
              </button>
              <!-- Dropdown menu -->
              <div
                id="lastDaysdropdown"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
              >
                <ul
                  class="py-2 text-sm text-gray-700 dark:text-gray-200"
                  aria-labelledby="dropdownDefaultButton"
                >
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Yesterday</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Today</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Last 7 days</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Last 30 days</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Last 90 days</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Last 6 months</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Last year</a
                    >
                  </li>
                </ul>
              </div>
              <a
                href="#"
                class="uppercase text-sm font-semibold inline-flex items-center rounded-lg text-blue-600 hover:text-blue-700 dark:hover:text-blue-500 hover:bg-gray-100 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 px-3 py-2"
              >
                Revenue Report
                <svg
                  class="w-2.5 h-2.5 ms-1.5 rtl:rotate-180"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 6 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 9 4-4-4-4"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center rounded bg-gray-50 h-full dark:bg-gray-800">
        <div
          class="max-w-1xl w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6"
        >
          <div class="flex justify-between mb-3">
            <div class="flex items-center">
              <div class="flex justify-center items-center">
                <h5
                  class="text-xl font-bold leading-none text-gray-900 dark:text-white pe-1"
                >
                  Your team's progress
                </h5>
                <svg
                  data-popover-target="chart-info"
                  data-popover-placement="bottom"
                  class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ms-1"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"
                  />
                </svg>
                <!-- Popover content -->
                <div
                  data-popover
                  id="chart-info"
                  role="tooltip"
                  class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400"
                >
                  <div class="p-3 space-y-2">
                    <h3 class="font-semibold text-gray-900 dark:text-white">
                      Activity growth - Incremental
                    </h3>
                    <p>
                      Report helps navigate cumulative growth of community
                      activities. Ideally, the chart should have a growing
                      trend, as stagnating chart signifies a significant
                      decrease of community activity.
                    </p>
                    <h3 class="font-semibold text-gray-900 dark:text-white">
                      Calculation
                    </h3>
                    <p>
                      For each date bucket, the all-time volume of activities is
                      calculated. This means that activities in period n contain
                      all activities up to period n, plus the activities
                      generated by your community in period.
                    </p>
                    <a
                      href="#"
                      class="flex items-center font-medium text-blue-600 dark:text-blue-500 dark:hover:text-blue-600 hover:text-blue-700 hover:underline"
                      >Read more
                      <svg
                        class="w-2 h-2 ms-1.5 rtl:rotate-180"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 6 10"
                      >
                        <path
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="m1 9 4-4-4-4"
                        /></svg
                    ></a>
                  </div>
                  <div data-popper-arrow></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Progress Overview -->
          <div class="bg-gray-50 dark:bg-gray-700 p-3 rounded-lg">
            <div class="grid grid-cols-3 gap-3 mb-2">
              <dl
                class="bg-orange-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-[78px]"
              >
                <dt
                  class="w-8 h-8 rounded-full bg-orange-100 dark:bg-gray-500 text-orange-600 dark:text-orange-300 text-sm font-medium flex items-center justify-center mb-1"
                >
                  12
                </dt>
                <dd
                  class="text-orange-600 dark:text-orange-300 text-sm font-medium"
                >
                  To do
                </dd>
              </dl>
              <dl
                class="bg-teal-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-[78px]"
              >
                <dt
                  class="w-8 h-8 rounded-full bg-teal-100 dark:bg-gray-500 text-teal-600 dark:text-teal-300 text-sm font-medium flex items-center justify-center mb-1"
                >
                  23
                </dt>
                <dd
                  class="text-teal-600 dark:text-teal-300 text-sm font-medium"
                >
                  In progress
                </dd>
              </dl>
              <dl
                class="bg-blue-50 dark:bg-gray-600 rounded-lg flex flex-col items-center justify-center h-[78px]"
              >
                <dt
                  class="w-8 h-8 rounded-full bg-blue-100 dark:bg-gray-500 text-blue-600 dark:text-blue-300 text-sm font-medium flex items-center justify-center mb-1"
                >
                  64
                </dt>
                <dd
                  class="text-blue-600 dark:text-blue-300 text-sm font-medium"
                >
                  Done
                </dd>
              </dl>
            </div>
            <button
              data-collapse-toggle="more-details"
              type="button"
              class="hover:underline text-xs text-gray-500 dark:text-gray-400 font-medium inline-flex items-center"
            >
              Show more details
              <svg
                class="w-2 h-2 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"
                />
              </svg>
            </button>
            <div
              id="more-details"
              class="border-gray-200 border-t dark:border-gray-600 pt-3 mt-3 space-y-2 hidden"
            >
              <dl class="flex items-center justify-between">
                <dt
                  class="text-gray-500 dark:text-gray-400 text-sm font-normal"
                >
                  Average task completion rate:
                </dt>
                <dd
                  class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-md dark:bg-green-900 dark:text-green-300"
                >
                  <svg
                    class="w-2.5 h-2.5 me-1.5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 10 14"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5 13V1m0 0L1 5m4-4 4 4"
                    />
                  </svg>
                  57%
                </dd>
              </dl>
              <dl class="flex items-center justify-between">
                <dt
                  class="text-gray-500 dark:text-gray-400 text-sm font-normal"
                >
                  Days until sprint ends:
                </dt>
                <dd
                  class="bg-gray-100 text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-md dark:bg-gray-600 dark:text-gray-300"
                >
                  13 days
                </dd>
              </dl>
              <dl class="flex items-center justify-between">
                <dt
                  class="text-gray-500 dark:text-gray-400 text-sm font-normal"
                >
                  Next meeting:
                </dt>
                <dd
                  class="bg-gray-100 text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-md dark:bg-gray-600 dark:text-gray-300"
                >
                  Thursday
                </dd>
              </dl>
            </div>
          </div>

          <!-- Radial Chart -->
          <div class="py-6" id="radial-chart"></div>

          <div
            class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between"
          >
            <div class="flex justify-between items-center pt-5">
              <button
                id="dropdownDefaultButton"
                data-dropdown-toggle="lastDaysdropdown"
                data-dropdown-placement="bottom"
                class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
                type="button"
              >
                Last 7 days
                <svg
                  class="w-2.5 m-2.5 ms-1.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 10 6"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 4 4 4-4"
                  />
                </svg>
              </button>
              <div
                id="lastDaysdropdown"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
              >
                <ul
                  class="py-2 text-sm text-gray-700 dark:text-gray-200"
                  aria-labelledby="dropdownDefaultButton"
                >
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Yesterday</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Today</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Last 7 days</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Last 30 days</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Last 90 days</a
                    >
                  </li>
                </ul>
              </div>
              <a
                href="#"
                class="uppercase text-sm font-semibold inline-flex items-center rounded-lg text-blue-600 hover:text-blue-700 dark:hover:text-blue-500 hover:bg-gray-100 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 px-3 py-2"
              >
                Progress report
                <svg
                  class="w-2.5 h-2.5 ms-1.5 rtl:rotate-180"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 6 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 9 4-4-4-4"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Aqui va una grafica-->
    <div
      class="flex items-center h-full mb-4 rounded bg-gray-50 dark:bg-gray-800"
    >
      <div
        class="max-w-6xl w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6"
      >
        <div class="flex justify-between">
          <div>
            <h5
              class="leading-none text-3xl font-bold text-gray-900 dark:text-white pb-2"
            >
              32.4k
            </h5>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">
              Users this week
            </p>
          </div>
          <div
            class="flex items-center px-2.5 py-0.5 text-base font-semibold text-green-500 dark:text-green-500 text-center"
          >
            12%
            <svg
              class="w-3 h-3 ms-1"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13V1m0 0L1 5m4-4 4 4"
              />
            </svg>
          </div>
        </div>
        <div id="area-chart"></div>
        <div
          class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between"
        >
          <div class="flex justify-between items-center pt-5">
            <button
              id="dropdownDefaultButton"
              data-dropdown-toggle="lastDaysdropdown"
              data-dropdown-placement="bottom"
              class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
              type="button"
            >
              Last 7 days
              <svg
                class="w-2.5 m-2.5 ms-1.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"
                />
              </svg>
            </button>
            <div
              id="lastDaysdropdown"
              class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
            >
              <ul
                class="py-2 text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="dropdownDefaultButton"
              >
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Yesterday</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Today</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Last 7 days</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Last 30 days</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Last 90 days</a
                  >
                </li>
              </ul>
            </div>
            <a
              href="#"
              class="uppercase text-sm font-semibold inline-flex items-center rounded-lg text-blue-600 hover:text-blue-700 dark:hover:text-blue-500 hover:bg-gray-100 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 px-3 py-2"
            >
              Users Report
              <svg
                class="w-2.5 h-2.5 ms-1.5 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 9 4-4-4-4"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
