<app-global-navbar></app-global-navbar>

<footer class="bg-white rounded-lg shadow dark:bg-gray-900 m-4">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a
        href="#"
        class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
      >
        <!-- Logo de la aplicación -->
        <img
          src="/assets/isotipo.jpg"
          class="h-8"
          alt="Logo de la App Cuidador"
        />
        <span
          class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
          >App Cuidador</span
        >
      </a>
      <ul
        class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
      >
        <li>
          <a class="hover:underline me-4 md:me-6">Sobre Nosotros</a>
        </li>
        <li>
          <a class="hover:underline me-4 md:me-6">Política de Privacidad</a>
        </li>
        <li>
          <a class="hover:underline me-4 md:me-6">Licencias</a>
        </li>
        <li>
          <a class="hover:underline">Contacto</a>
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2024 <a href="#" class="hover:underline">App Cuidador™</a>. Todos los
      derechos reservados.</span
    >
  </div>
</footer>
