<div class="content">
  <form>
    <input
      type="file"
      [id]="uploadId"
      class="border border-gray-300 w-full text-gray-500 font-medium text-base bg-gray-100 file:cursor-pointer cursor-pointer file:border-0 file:py-2.5 file:px-4 file:mr-4 file:bg-gray-800 file:hover:bg-gray-700 file:text-white rounded"
      (change)="onFileSelected($event)"
    />
  </form>

  <p class="mt-4 text-lg font-semibold text-gray-700">{{ uploadStatus }}</p>

  <div *ngIf="uploadProgress | async as progress">
    <div class="w-full bg-gray-200 rounded-full h-4">
      <div
        class="bg-blue-500 h-4 rounded-full"
        [style.width.%]="progress"
      ></div>
    </div>
  </div>
</div>
