@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.buttonConfirm {
  background-color: #395886;
  color: white;
}

.buttonDisabled {
  background-color: #9aa5b5;
  color: aliceblue;
}

.loginTitle {
  font-family: "Anek Malayalam", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: 100;
  font-size: 2rem;
}

.miniSubTitles {
  font-family: "Anek Malayalam", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.h1Cuidador {
  font-family: "Anek Malayalam", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: 100;
  font-size: 2rem;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
