<div class="flex flex-row">
  <div class="basis-1/5">
    <div class="sidebarBlock flex flex-col p-10">
      <div class="title text-center font-bold text-2xl pb-20">
        Registró Tutor
      </div>
      <div class="stepComplete p-3 w-55 rounded-full">
        <button [routerLink]="['/homePageFamiliar/InfoPrivacy']">
          <p class="pl-3 text-lg text-white font-semibold">
            Aviso de privacidad
          </p>
        </button>
      </div>
      <div class="p-3 w-55 rounded-full mt-6" id="requisitos">
        <button>
          <p class="pl-3 text-lg font-semibold" id="titleRequisitos">
            Requisitos
          </p>
        </button>
      </div>
      <div class="p-3 w-55 rounded-full mt-6" id="formulario">
        <button>
          <p class="pl-3 text-lg font-semibold" id="titleForm">
            Formulario de registro
          </p>
        </button>
      </div>
    </div>
  </div>
  <div class="basis-1/5 w-screen">
    <router-outlet></router-outlet>
  </div>
</div>
