.profiles {
  background-color: rgb(255, 255, 255);
}

.fotoPerfil {
  background-color: rgb(212, 210, 210);
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
/*   background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
   */

.imgbanner {
  background-image: url("/assets/fondoBanner.svg");
}

.imgProfile {
  width: 140px;
  height: 140px;
}
