<nav
  class="bg-white border-gray-200 dark:bg-gray-900 p-4 mt-20 sm:ml-64 rounded-lg mr-5 border-solid border-inherit"
>
  <div
    class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4"
  >
    <a class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/assets/financeLogo.png" class="h-8" alt="Flowbite Logo" />
      <span
        class="self-center text-4xl font-semibold whitespace-nowrap dark:text-white"
        >Servicios</span
      >
    </a>
    <div class="flex items-center space-x-6 rtl:space-x-reverse"></div>
  </div>
</nav>
<nav class="bg-gray-50 dark:bg-gray-700 p-4 sm:ml-64 mr-5 border-solid">
  <div class="max-w-screen-xl px-4 py-3 mx-auto">
    <div class="flex items-center">
      <ul
        class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm"
      >
        <li>
          <a
            class="text-gray-900 dark:text-white hover:underline"
            aria-current="page"
            routerLink="/cuidador/finance/accounts"
            >Gestión Servicios Activos</a
          >
        </li>
        <li>
          <a
            class="text-gray-900 dark:text-white hover:underline"
            aria-current="page"
            >Registro de disponibilidad</a
          >
        </li>
        <li>
          <a
            class="text-gray-900 dark:text-white hover:underline"
            aria-current="page"
            >Calendario Servicios</a
          >
        </li>
        <li>
          <a
            class="text-gray-900 dark:text-white hover:underline"
            aria-current="page"
            >Historial Servicios</a
          >
        </li>
        <li>
          <a
            class="text-gray-900 dark:text-white hover:underline"
            aria-current="page"
            routerLink="/cuidador/services/comments"
            >Feedback y Calificaciones</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="p-4 ml-60 mr-5 border-solid">
  <router-outlet></router-outlet>
</section>
